@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@400;500;600;700&display=swap');
@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

* {
    font-family: 'Hanuman', sans-serif;
}

body {
    background-color: hsl(var(--background));
    /* background-image: url('/bg.png'); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}